@import "styles/app";

.stroke {
  width: 30px;
  background: #c4c4c4;
  height: 100%;
  margin-right: 100px;
  margin-left: -113px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid theme-color("primary");
  border-radius: 50%;
  color: theme-color("primary");
  align-self: flex-start;
  width: 30px;
  font-weight: bold;
  margin-right: 18px;
}
