@import "styles/app";

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid theme-color("primary");
  border-radius: 50%;
  color: theme-color("primary");
  align-self: flex-start;
  width: 30px;
  height: 30px;
  font-weight: bold;
  margin-right: 18px;
}
