@import "styles/app";

.quantityBtn {
  &:hover,
  &:focus {
    color: theme-color("primary") !important;
  }
}

.info {
  height: 180px;
  @media (max-width: 768px) {
    height: 100%;
  }
  &__item {
    section {
      @media (max-width: 768px) {
        height: 97px !important;
      }
    }
  }
}

.reviewImg {
  width: 132px;
  height: 132px;
  @media (max-width: 992px) {
    display: none;
  }
}

.dMdNone {
  @media (max-width: 992px) {
    display: none !important;
  }
}

.detailCategory {
  @media (max-width: 992px) {
    margin-top: 20px;
  }
}

.detailRating {
  @media (max-width: 992px) {
    margin: 2px 0 9px 0;
  }
}

.leaveFeedbackBtn {
  transition: color .2s .3ms;
  &:hover {
    color: #232323 !important;
  }
}

.modalProduct {
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.product {
  &:hover {
    a {
      color: theme-color("primary")
    }
  }
  a {
    color: #232323;
  }
}
